/*creates "about me" style for the about_me section*/
/*the styling for the about me div*/
#about_me_div {
  margin: 50px 0;
  background-color: #333;
  color: #fff;
  padding: 1em;
}

#bio_paragraph {
  font-size: 18px;
  line-height: 1.5;
}

#bio_paragraph p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#bio_paragraph ul {
  list-style: disc;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#bio_paragraph ul li {
  margin-left: 20px;
}

 