/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  ul {
    /*makes the styleing to alline the navigation rows of buttons*/
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 1em;
    border: .2rem solid #fff;
    padding: 0.5em;
    border-radius: 5rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main Content Styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  